# Flutter/Dart specific
.dart_tool/
.packages
.pub-cache/
build/
android/.gradle/
android/app/generated/
android/app/intermediates/
android/app/output-metadata.json
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# IDE files
.idea/
.vscode/
*.iml

# Dependency directories
node_modules/
lib/generated_plugin_registrant.dart

# Logs & temporary files
*.log
pubspec.lock
*.DS_Store
*.swp
*.swo
*.swn

# Executables
*.apk
*.ipa
*.aab

# Test coverage reports
coverage/

# Firebase
firebase_app_id_file.json
